* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #5F4B8B;
}
body .input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    background:#E69A8D;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}
.timer {
    position: absolute;
    top: 3rem;
    font-size: 5rem;
    color: #E69A8D;
    font-weight: bold;
}
.quote {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}
.input {
    background: transparent;
    border: 2px solid #E69A8D;
    outline: none;
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}
.input:focus {
    border-color: black;
}
.correct {
    color: green;
}
.incorrect {
    color: red;
    text-decoration: underline;
}